.wrapper {
    padding: 3rem;
}

button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: transparent;
    
}

button:active {
    background-color: grey;
    color: darkslategrey;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

span {
    font-weight: bold;
}